# Compiled class files
*.class

# Log files
logs
*.log

# Coverage reports
coverage

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.gz
*.tgz

# Pictures
*.jpg
*.png

# Output files
target/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.Python
.python-version
.mypy_cache/

# IntelliJ files
*.iml
**/.idea
**/.gradle

# Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

# Spring
.springBeans

# VisualStudio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid

# Mac/Windows
*.DS_Store*
*thumbs*.db

# Node
.npm 
node_modules
jspm_packages
build/

# Serverless
**/.serverless
**/.build

# Typescript
dist/
